li(data-id="#{id}", data-cid="#{cid}", id="todo_#{cid}")
  .view(data-id="#{id}")
    if keys.done
      input.toggle(type="checkbox", checked="#{keys.done}")
    else
      input.toggle(type="checkbox")
    label #{keys.title}
    button.destroy
  input.edit(value="#{keys.title}")

